{% extends "base.html" %}

{% block body %}

<h2>Connectez-vous à EgliseInfo via Facebook</h2>

<p>
<b>Utilisez votre compte Facebook pour vous authentifier à Facebook</b>
</p>
{% if user %}
<ul>
	<li><span class="url">{{ request_url_without_path }}/</span>
	<li><span class="url">{{ request_url_without_path }}/{{ user.nickname }}</span>
</ul>
{% else %}
<ul>
	<li><span class="url">http://egliseinfo-facebook.appspot.com/</span>
	<li><span class="url">http://egliseinfo-facebook.appspot.com/[your-facebook-login]</span>
</ul>
<p>
  Pour commencer, <a href="{{ login_url|escape }}">connectez-vous</a> à votre compte Facebook.
</p>

{% endif %}
</p>

<p>Allez sur le site <a href="http://egliseinfo.catholique.fr/">EgliseInfo</a> et connectez-vous via Facebook.</p>

<div class="top">
  <div class="left"></div>
  <div class="right"></div>
  <h2>Vos récentes connexions</h2>
</div>

<table class="logins">
<!-- <tr><th>Action</th><th>Web Site</th><th>Time</th></tr> -->
{% for login in logins %}
  <tr class="{{ login.kind }}">
    <td class="kind">
      <img class="icon" src="/static/{{ login.kind }}.png"
           alt="{{ login.kind }}" title="{{ login.kind }}" />
    </td>
    <td class="relying-party">
      {{ login.relying_party }}
    </td>
    <td class="time">
      {{ login.time|date:"M j \a\t P" }}
    </td>
  </tr>
{% endfor %}
{% if not logins %}
  <tr><td colspan="3" class="light" align="center">
    {% if user %}
     	Allez sur le site <a href="http://egliseinfo.catholique.fr/">EgliseInfo</a> et connectez-vous via Facebook.
    {% else %}
      Merci de se <a href="{{ login_url|escape }}">connecter</a> pour voir vos dernières connexions depuis le service.
    {% endif %}
  </td></tr>
{% endif %}
</table>
<p>&nbsp;</p>
<div class="bottom">
<table class="key"><tr>
  <td class="confirmed">
    <img class="icon" class="icon" src="/static/confirmed.png" /> Confirmé
  </td>
  <td class="remembered">
    <img class="icon" src="/static/remembered.png" /> Mémorisé
  </td>
  <td class="declined">
    <img class="icon" src="/static/declined.png" /> Annulé
  </td>
</tr></table>

<div class="left"></div>
<div class="right"></div>

</div>
{% endblock %}
