{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<h2>Confirmez votre connexion au site EgliseInfo</h2>

<p>
Vous êtes en train de vous connecter sur le site
<a href="{{ oidrequest.trust_root }}">{{ oidrequest.trust_root }}</a>
via Facebook avec votre login Facebook 
<span class="nickname">{{ user.nickname }}</span>, Voulez-vous continuer ?
</p>
<form method="post" action="/login">
<input type="submit" name="yes" value="Oui" />
<input type="submit" name="no" value="non" />
<!-- these are used to recreate the OpenID CheckIDRequest -->

{%for k in postargs.items%}
<input type="hidden" name="{{k.0}}" value="{{k.1}}" />
{%endfor%}

<input type="checkbox" name="remember" value="yes" />
  Rester connecté pendant deux semaines <br />
</form>

<p>&nbsp;</p>
<p>&nbsp;</p>

{% endblock %}
